.container {
    max-height: 800px;
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 20px;
    cursor: pointer;
}

.border {
    height: 378px;
    width: 300px;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
    border: 1px solid white;
}

.card {
    height: 380px;
    width: 300px;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('../images/man.png') center center no-repeat, radial-gradient(circle, #441a2a, #37182b, #2a162a, #1d1326, #120f20);
    background-size: 300px;
}

.card:hover {
    background: url('../images/man.png') left center no-repeat, radial-gradient(circle, #441a2a, #37182b, #2a162a, #1d1326, #120f20);
    background-size: 600px;
}

.card:hover .border h2,
.card:hover .fa,
.card:hover .border h3 {
    opacity: 1;
}

.border h2 {
    color: white;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
    font-family: 'Pacifico', cursive;
}

.border h3 {
    color: white;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
    font-family: 'Edu TAS Beginner', cursive;
}

.fa {
    opacity: 0;
    transition: opacity 1s;
}

.icons {
    position: absolute;
    fill: white;
    color: white;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icons a {
    color: white;
    text-decoration: none;
}